{% extends 'base.html.twig' %}

{% block title %}SiteConfig index{% endblock %}

{% block body %}
    <h1>SiteConfig index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitrePage</th>
                <th>Copyright</th>
                <th>LienSiteWeb</th>
                <th>ActivationPaiement</th>
                <th>NbrMaxMenu</th>
                <th>Logo</th>
                <th>Favicon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site_config in site_configs %}
            <tr>
                <td>{{ site_config.id }}</td>
                <td>{{ site_config.titrePage }}</td>
                <td>{{ site_config.copyright }}</td>
                <td>{{ site_config.lienSiteWeb }}</td>
                <td>{{ site_config.activationPaiement ? 'Yes' : 'No' }}</td>
                <td>{{ site_config.nbrMaxMenu }}</td>
                <td>{{ site_config.logo }}</td>
                <td>{{ site_config.favicon }}</td>
                <td>
                    <a href="{{ path('app_site_config_show', {'id': site_config.id}) }}">show</a>
                    <a href="{{ path('app_site_config_edit', {'id': site_config.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_site_config_new') }}">Create new</a>
{% endblock %}
